@model IEnumerable<HidenIntelligence.Areas.Admin.Models.BinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Khách hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Khách hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="text-transform:capitalize">
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SanPham.TenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenKH)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoiDungBL)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoiDungBL)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaBL }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MaBL }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MaBL })
                        </td>
                    </tr>
                }
            </table>
            <p style="padding-top:10px; padding-left: 10px">
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>



<!-- DataTables -->
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


