<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @*<li class="nav-header">EXAMPLES</li>*@
        <!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="@Url.Action("Index","AHome")" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Admin
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Home/Index" class="nav-link">
                <i class="fas fa-hospital nav-icon"></i>
                <p>
                    Home
                </p>
            </a>

        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-tie"></i>
                <p>
                    Khách hàng
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index","KhachHangs","Admin")" class="nav-link">
                        <i class="fas fa-user-friends nav-icon"></i>
                        <p>Thông tin khách hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","DonHangs","Admin")" class="nav-link">
                        <i class="nav-icon fas fa-file nav-icon"></i>
                        <p>Đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","ChiTietDonHangs","Admin")" class="nav-link">
                        <i class="fas fa-file-invoice nav-icon"></i>
                        <p>Chi tiết đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","BinhLuans","Admin")" class="nav-link">
                        <i class="fas fa-file-invoice nav-icon"></i>
                        <p>Bình luận</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-tie"></i>
                <p>
                    Sản phẩm
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index","SanPhams","Admin")" class="nav-link">
                        <i class="fas fa-user-friends nav-icon"></i>
                        <p>Thông tin sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","TheLoaiSPs","Admin")" class="nav-link">
                        <i class="nav-icon fas fa-file nav-icon"></i>
                        <p>Thể loại sản phẩm</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
